*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

header{
    padding: 28px 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h2{
    font-weight: 700;
    font-size: 32px;
    color: #0F172A;
    text-transform: uppercase;
}
header h2 span{
    color: #0066FF;
}

.nav-header ul{
    list-style: none;
    display: flex;
    gap: 67px;
}

.nav-header ul a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #0F172A;
    transition: 0.2s ease-in-out;
}
.nav-header ul a:hover{
    color: #0066FF;
    
}

.btn-header{
    background-color: #0066FF;
    padding: 4px 26px;
    color: #FFFFFF;
    border-radius:10px ;
    border: 1px solid transparent;
    font-weight: 600;
    font-size: 20px;
     transition: 0.3s ease-in-out;
}
.btn-header:hover{
    background-color: #FFFFFF;
    border: 1px solid #0066FF;
    color: #0066FF;
    cursor: pointer;
}

main{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    padding: 0px 108px;
    gap: 180px;
}

h1{
    color: #003A8C;
    font-weight: 700;
    font-size: 36px;
    width: 462px;
    text-transform: uppercase;
    line-height: 50px;
}

main p{
    color: #64748B;
    font-weight: 400;
    font-size: 20px;
    width: 462px;
    margin-top: 19px;
}

.section-register{
    margin-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003A8C;
    padding: 46px 456px;
}

.card-form{
    display: flex;
    padding: 33px 77px;
    flex-direction: column;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    border-radius: 5px;
}
form{
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    gap:11px;
}

input{
    border: 1px solid #ACACAC;
    border-radius: 8px;
    padding: 8px 7px;
    font-size: 13px;
    font-weight: 400;
    outline: none;
    text-transform: capitalize;
}

.btn-register{
    border-radius: 8px;
    background-color: #0066FF;
    color: #FFFFFF;
    padding: 6px 39px;
    font-size: 20px;
    text-align: center;
}

.section-plan{
    margin-top: 96px;
    text-align:    center;
    padding: 0px 108px 38px 108px;
}

.section-plan h2{
    text-align: center;
    color: #003A8C;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.cards-container{
    display: flex;
    margin-top: 43px;
    gap: 79px;
    justify-content: center;
    
}
.card-plan{
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 22px 25px;
}
.card-plan h3{
    color: #003A8C;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.card-plan p{
    width: 251px;
    margin-top: 11px;
    color: #64748B;
    font-size: 18px;
    font-weight: 400;
}
   