*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

header{
    padding: 28px 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h2{
    font-weight: 700;
    font-size: 32px;
    color: #0F172A;
    text-transform: uppercase;
}
header h2 span{
    color: #0066FF;
}

.nav-header ul{
    list-style: none;
    display: flex;
    gap: 67px;
}

.nav-header ul a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #0F172A;
    transition: 0.2s ease-in-out;
}
.nav-header ul a:hover{
    color: #0066FF;
    
}

.btn-header{
    background-color: #0066FF;
    padding: 4px 26px;
    color: #FFFFFF;
    border-radius:10px ;
    border: 1px solid transparent;
    font-weight: 600;
    font-size: 20px;
     transition: 0.3s ease-in-out;
}
.btn-header:hover{
    background-color: #FFFFFF;
    border: 1px solid #0066FF;
    color: #0066FF;
    cursor: pointer;
}

main{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    padding: 0px 108px;
    gap: 180px;
}

h1{
    color: #003A8C;
    font-weight: 700;
    font-size: 36px;
    width: 462px;
    text-transform: uppercase;
    line-height: 50px;
}

main p{
    color: #64748B;
    font-weight: 400;
    font-size: 20px;
    width: 462px;
    margin-top: 19px;
}

.section-register{
    margin-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003A8C;
    padding: 46px 456px;
}

.card-form{
    display: flex;
    padding: 33px 77px;
    flex-direction: column;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    border-radius: 5px;
}
form{
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    gap:11px;
}

input{
    border: 1px solid #ACACAC;
    border-radius: 8px;
    padding: 8px 7px;
    font-size: 13px;
    font-weight: 400;
    outline: none;
    text-transform: capitalize;
}

.btn-register{
    border-radius: 8px;
    background-color: #0066FF;
    color: #FFFFFF;
    padding: 6px 39px;
    font-size: 20px;
    text-align: center;
}

.section-plan{
    margin-top: 96px;
    text-align:    center;
    padding: 0px 108px 38px 108px;
}

.section-plan h2{
    text-align: center;
    color: #003A8C;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.cards-container{
    display: flex;
    margin-top: 43px;
    gap: 79px;
    justify-content: center;
    
}
.card-plan{
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 22px 25px;
}
.card-plan h3{
    color: #003A8C;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.card-plan p{
    width: 251px;
    margin-top: 11px;
    color: #64748B;
    font-size: 18px;
    font-weight: 400;
}

.section-connections{
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    gap: 165px;
    padding: 66px 108px;
}



.connection-container h2{
    color: #003A8C;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 18px;
}
   
.card-connections{
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    gap: 12px;
    padding: 8px 12px;
    margin-bottom: 19px;

    box-shadow: 0px 4px 4px rgba(136, 136, 136, 0.25);
    transition: 0.4s ease-in-out;
}
.card-connections:hover{
    transform: translateY(-7px);
    cursor: pointer;
}
.card-connections h3{
    color: #003A8C;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.card-connections p{
    color: #64748B;
    font-size: 16px;
    font-weight: 400;
    margin-top: 1px;
    width: 355px;
}

.connection-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection-content h4 {
    color: #64748B;
    font-size: 32px;
    font-weight: 400;
    width: 389px;
}

.section-job{
    padding: 96px 107px;
    display: flex;
    justify-content: center;
    gap: 110px;
}

.job-container h2{
    color: #003A8C;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.cards-job{
    background-color: #F7F7F7;
    padding: 17px 31px;
    border-radius: 5px;
    
}
.cards-job p{
    color: #64748B;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 19px;
    text-align: center;
}

.card-job{
    background-color: #FFFFFF;
    padding: 16px 19px;
    margin-bottom: 19px;
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: 0px 4px 4px rgba(136, 136, 136, 0.25);
    transition: 0.5s ease-in-out;
}
.card-job:hover{
    transform: translateY(7px);
    cursor: pointer;
    border: 2px solid #003A8C;
    box-shadow: 0px 4px 4px rgba(0, 58, 140,0.5);
    background-color: #E9F3FF;
}

#active{
    border: 2px solid #003A8C;
    box-shadow: 0px 4px 4px rgba(0, 58, 140,0.5);
    background-color: #E9F3FF;
}
#active h3{
    color: #003A8C;
}

.card-job h3{
    color: #64748B;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.card-job h3:hover{
    color: #003A8C;
}
.job{
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 27px 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.job-header {
    display: flex;
    align-items: flex-start;
    gap: 23px;
}




.job-info h4 {
    font-size: 16px;
    font-weight: 600;
    color: #64748B;
    margin-bottom: 11px;
}

.job-info p {
    font-weight: 400;
    font-size: 16px;
    color: #64748B; 

}

.job-section {
    background-color: #FFFFFF;
    padding: 15px 96px;
    border-radius: 5px;
}

.job-section h4 {
    font-size: 16px;
    font-weight: 600;
    color: #64748B;
    text-align: center;
    margin-bottom: 7px;
}

.job-section p {
    font-weight: 400;
    font-size: 16px;
    color: #64748B; 
    text-align: center;
    text-align: center;
}

footer{
    background-color: #003A8C;
    display: flex;
    flex-direction: column;
    padding: 48px 56px;
    gap: 32px;
}

.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 203px;
}

.footer-brand{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.footer-brand h2{
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer-brand h2 span{
    color: #0066FF;
}

.slogan-footer{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-socials{
    display: flex;
    gap: 7px;
    margin-top: 8px;
}

.social-icons{ 
    margin-top: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.social-icons:hover{
    transform: translateY(-5px); 
}

.footer-navigation{
    display: flex;
    gap: 80px;
    
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-container h3{
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.footer-links{
    list-style: none;
    font-size: 16px;
}

.footer-item{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
    transition: 0.3s ease-in-out;
    font-weight: 400;
}

.footer-item:hover{
    cursor: pointer;
    transform: translateX(5px);
}

.copyright{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 24px;
}

